<h3>Hi, <%= student.name %><h3>
<h1>Register for a new course</h1>

<%= form_for @course do |f| %>
    Title: <%= f.text_field :title %>
    Schedule: <%= f.date_field :schedule %>
    Course Level: <%= f.text_field :course_level %>
  <%= f.submit %>
<% end %>

<a href="/courses">View courses</a>